<div class="auth-container">
  <div class="nike-card">

    <h2 class="title">Create Your Account</h2>
    <p class="subtitle">Join FitCart — Train. Shop. Perform.</p>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" placeholder="Your name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Email address" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Choose password" />
      </mat-form-field>

      <button mat-raised-button class="nike-btn" type="submit" [disabled]="registerForm.invalid">
        Create Account
      </button>
    </form>

    <p class="link">
      Already have an account?
      <a routerLink="/auth/login">Sign In</a>
    </p>

  </div>
</div>
