<div class="home-container">
  <h2 class="page-title">🛍️ Shop by Category</h2>

  <div class="category-grid">
    <div
      *ngFor="let cat of categories"
      class="category-card"
      (click)="goToCategory(cat.id)"
    >
      <div class="category-image">
        <img
          [src]="
            cat.imageUrl ||
            'https://via.placeholder.com/300x200.png?text=' + cat.name
          "
          alt="{{ cat.name }}"
        />
      </div>
      <div class="overlay">
        <h3>{{ cat.name }}</h3>
      </div>
    </div>
  </div>
</div>
