<div class="home-container">
 

  <div class="category-grid">
    <div
      class="category-card"
      *ngFor="let cat of categories"
      (click)="goToCategory(cat.id)"
    >
      <div class="category-image">
        <img
          [src]="
            cat.imageUrl ||
            'https://via.placeholder.com/400x250.png?text=' + cat.name
          "
          alt="{{ cat.name }}"
        />

        <div class="overlay">
          <h3 class="cat-name">{{ cat.name }}</h3>
          <button mat-raised-button class="explore-btn">Explore</button>
        </div>
      </div>
    </div>
  </div>
</div>
