<div class="success-container">

  <div class="card">
    <div class="icon">
      <img src="https://cdn-icons-png.flaticon.com/512/845/845646.png" alt="success">
    </div>

    <h2>Payment Successful!</h2>
    <p>Thank you for shopping with <strong>FitCart</strong> 🛍️</p>
    <p>Your order has been placed successfully.</p>

    <button class="btn-shop" routerLink="/products">
      Continue Shopping
    </button>

    <button class="btn-orders" routerLink="/user/orders">
      View My Orders
    </button>
  </div>

</div>
