.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.product-card {
  width: 250px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: scale(1.03);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
